  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4) ;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {    
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1749%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(14%2c 42%2c 71%2c 1)'%3e%3c/rect%3e%3cpath d='M31.47 -30.94L96.42 6.56L96.42 81.56L31.47 119.06L-33.48 81.56L-33.48 6.56zM96.42 81.56L161.38 119.06L161.38 194.06L96.42 231.56L31.47 194.06L31.47 119.06zM31.47 194.06L96.42 231.56L96.42 306.56L31.47 344.06L-33.48 306.56L-33.48 231.56zM31.47 419.06L96.42 456.56L96.42 531.56L31.47 569.06L-33.48 531.56L-33.48 456.56zM226.33 81.56L291.28 119.06L291.28 194.06L226.33 231.56L161.38 194.06L161.38 119.06zM161.38 419.06L226.33 456.56L226.33 531.56L161.38 569.06L96.42 531.56L96.42 456.56zM226.33 531.56L291.28 569.06L291.28 644.06L226.33 681.56L161.38 644.06L161.38 569.06zM291.28 194.06L356.24 231.56L356.24 306.56L291.28 344.06L226.33 306.56L226.33 231.56zM356.24 306.56L421.19 344.06L421.19 419.06L356.24 456.56L291.28 419.06L291.28 344.06zM291.28 419.06L356.24 456.56L356.24 531.56L291.28 569.06L226.33 531.56L226.33 456.56zM356.24 531.56L421.19 569.06L421.19 644.06L356.24 681.56L291.28 644.06L291.28 569.06zM486.15 81.56L551.1 119.06L551.1 194.06L486.15 231.56L421.19 194.06L421.19 119.06zM421.19 194.06L486.15 231.56L486.15 306.56L421.19 344.06L356.24 306.56L356.24 231.56zM421.19 419.06L486.15 456.56L486.15 531.56L421.19 569.06L356.24 531.56L356.24 456.56zM745.96 81.56L810.92 119.06L810.92 194.06L745.96 231.56L681.01 194.06L681.01 119.06zM745.96 306.56L810.92 344.06L810.92 419.06L745.96 456.56L681.01 419.06L681.01 344.06zM810.91 419.06L875.87 456.56L875.87 531.56L810.91 569.06L745.96 531.56L745.96 456.56zM940.82 -30.94L1005.78 6.56L1005.78 81.56L940.82 119.06L875.87 81.56L875.87 6.56zM1005.78 531.56L1070.73 569.06L1070.73 644.06L1005.78 681.56L940.82 644.06L940.82 569.06zM1135.68 81.56L1200.64 119.06L1200.64 194.06L1135.68 231.56L1070.73 194.06L1070.73 119.06zM1135.68 306.56L1200.64 344.06L1200.64 419.06L1135.68 456.56L1070.73 419.06L1070.73 344.06zM1265.59 531.56L1330.54 569.06L1330.54 644.06L1265.59 681.56L1200.64 644.06L1200.64 569.06zM1395.5 306.56L1460.45 344.06L1460.45 419.06L1395.5 456.56L1330.55 419.06L1330.55 344.06zM1460.45 419.06L1525.41 456.56L1525.41 531.56L1460.45 569.06L1395.5 531.56L1395.5 456.56zM1525.41 531.56L1590.36 569.06L1590.36 644.06L1525.41 681.56L1460.45 644.06L1460.45 569.06z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M23.97 -30.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM88.92 6.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM88.92 81.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM23.97 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-40.98 81.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-40.98 6.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM153.88 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM153.88 194.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM88.92 231.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM23.97 194.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM88.92 306.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM23.97 344.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-40.98 306.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-40.98 231.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM23.97 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM88.92 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM88.92 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM23.97 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-40.98 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-40.98 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM218.83 81.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM283.78 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM283.78 194.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM218.83 231.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM153.88 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM218.83 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM218.83 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM153.88 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM283.78 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM283.78 644.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM218.83 681.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM153.88 644.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM348.74 231.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM348.74 306.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM283.78 344.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM218.83 306.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM413.69 344.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM413.69 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM348.74 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM283.78 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM348.74 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM413.69 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM413.69 644.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM348.74 681.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM478.65 81.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM543.6 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM543.6 194.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM478.65 231.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM413.69 194.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM413.69 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM478.65 306.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM478.65 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM478.65 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM738.46 81.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM803.42 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM803.42 194.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM738.46 231.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM673.51 194.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM673.51 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM738.46 306.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM803.42 344.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM803.42 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM738.46 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM673.51 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM673.51 344.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM803.41 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM868.37 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM868.37 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM803.41 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM738.46 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM933.32 -30.94 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM998.28 6.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM998.28 81.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM933.32 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM868.37 81.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM868.37 6.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM998.28 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.23 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.23 644.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM998.28 681.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM933.32 644.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM933.32 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1128.18 81.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1193.14 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1193.14 194.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1128.18 231.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.23 194.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.23 119.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1128.18 306.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1193.14 344.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1193.14 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1128.18 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.23 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1063.23 344.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1258.09 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1323.04 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1323.04 644.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1258.09 681.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1193.14 644.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1193.14 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1388 306.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1452.95 344.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1452.95 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1388 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1323.05 419.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1323.05 344.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1517.91 456.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1517.91 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1452.95 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1388 531.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1582.86 569.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1582.86 644.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1517.91 681.56 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1452.95 644.06 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M218.94 -29.8L317.67 27.2L317.67 141.2L218.94 198.2L120.21 141.2L120.21 27.2zM218.94 312.2L317.67 369.2L317.67 483.2L218.94 540.2L120.21 483.2L120.21 369.2zM515.13 141.2L613.86 198.2L613.86 312.2L515.13 369.2L416.4 312.2L416.4 198.2zM712.59 141.2L811.32 198.2L811.32 312.2L712.59 369.2L613.86 312.2L613.86 198.2zM613.86 312.2L712.59 369.2L712.59 483.2L613.86 540.2L515.13 483.2L515.13 369.2zM712.59 483.2L811.32 540.2L811.32 654.2L712.59 711.2L613.86 654.2L613.86 540.2zM811.32 312.2L910.05 369.2L910.05 483.2L811.32 540.2L712.59 483.2L712.59 369.2zM1206.24 312.2L1304.97 369.2L1304.97 483.2L1206.24 540.2L1107.51 483.2L1107.51 369.2zM1403.7 -29.8L1502.43 27.2L1502.43 141.2L1403.7 198.2L1304.97 141.2L1304.97 27.2zM1502.43 483.2L1601.16 540.2L1601.16 654.2L1502.43 711.2L1403.7 654.2L1403.7 540.2z' stroke='url(%23SvgjsLinearGradient1750)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1749'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0' y1='280' x2='1440' y2='280' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1750'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(26%2c 105%2c 207%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

/* ============== GENERAL STYLES ================  */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}
h1, h2, h3, h4, h5 {
    font-size: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
    /*height: 100vh;*/
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*  ============ MEDIA QUERIES (MEDIUM DEVICES ============= */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    section {
        margin-top: 6rem;
    }    
}

/*  ============ MEDIA QUERIES (SMALL DEVICES ============= */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
    section > h2 {
        margin-bottom: 2rem;
    }    
}
